/* Smartphones (portrait and landscape) ----------- */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 768px) {
  #map-layer .leaflet-top.leaflet-right {
    top: 80px !important;
    right: 0px !important;
  }
  /* USER PROMPT STYLES */
  .user-prompt {
    font-size: 15px;
  }
  .user-prompt .prompt-arrow.arrow-left,
  .user-prompt .prompt-arrow.arrow-right {
    top: 5px;
  }
  .user-prompt#select-map-prompt-right {
    right: 100px;
    bottom: 27px;
  }
  .user-prompt#slide-prompt {
    left: 75px;
    margin-top: -19px;
  }
  .user-prompt#select-map-prompt-left {
    left: 99px;
    bottom: 27px;
  }
  .user-prompt#pin-map-prompt-right,
  .user-prompt#pin-map-prompt-left {
    bottom: 164px;
  }
  .user-prompt#pin-map-prompt-right {
    right: 16px;
  }
  .user-prompt#pin-map-prompt-right .prompt-arrow {
    right: 15px;
  }
  .user-prompt#pin-map-prompt-left {
    left: 16px;
  }
  .user-prompt#pin-map-prompt-left .prompt-arrow {
    left: 15px;
  }
  .dataset-label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 10px;
    width: 100px;
  }
  .dataset-label#dataset-label-right {
    right: 97px;
    bottom: 32px;
  }
  .dataset-label#dataset-label-right .prompt-arrow {
    margin-top: -8px;
    margin-right: 10px;
    margin-left: 0px;
  }
  .dataset-label#dataset-label-left {
    left: 97px;
    bottom: 32px;
  }
  .dataset-label#dataset-label-left .prompt-arrow {
    margin-top: -8px;
    left: 14px;
  }
  /* SLIDER STYLES */
  #slider-bar {
    width: 36px;
    left: -18px;
  }
  #slider-bar #drag-right,
  #slider-bar #drag-left {
    width: 40px;
    height: 40px;
    margin-top: -20px;
  }
  #slider-bar #drag-left {
    margin-left: -40px;
  }
  #slider-bar #drag-right {
    margin-left: 40px;
  }
  #ui-layer {
    /* SEARCH BAR STYLES */
  
    /* BUTTON STYLES */
  
  }
  #ui-layer #search-bar,
  #ui-layer #search-bar-expanded {
    width: calc(100% - 20px);
  }
  #ui-layer #search-bar {
    margin: 25px 10px 0px;
    background: #fff;
  }
  #ui-layer #search-bar #search-icon {
    padding: 15px;
  }
  #ui-layer #search-bar #search-icon img {
    width: 20px;
    vertical-align: top;
    margin-top: 1px;
    margin-left: 0px;
  }
  #ui-layer #search-bar input {
    font-size: 18px;
    width: calc(100% - 150px);
    margin-left: 30px;
    padding: 15px;
  }
  #ui-layer #search-bar #search-bar-options li {
    padding: 15px 6px;
  }
  #ui-layer #search-bar #search-bar-options li img {
    width: 22px;
    margin-top: 1px;
  }
  #ui-layer #search-bar #search-bar-options #search-bar-favourite {
    padding-right: 15px;
  }
  #ui-layer #search-bar-expanded {
    margin: 0 10px;
    top: 79px;
  }
  #ui-layer #search-bar-expanded .expanded-section {
    margin-top: 10px;
  }
  #ui-layer #search-bar-expanded .expanded-section .expanded-title {
    font-size: 18px;
    padding: 15px;
  }
  #ui-layer #search-bar-expanded .expanded-section .expanded-title #loading-icon {
    width: 20px;
    height: 20px;
  }
  #ui-layer #search-bar-expanded .expanded-section .expanded-locations {
    font-size: 18px;
  }
  #ui-layer #search-bar-expanded .expanded-section .expanded-locations li {
    padding: 15px;
  }
  #ui-layer #search-bar-expanded .expanded-section#saved-locations .expanded-locations li div {
    width: calc(100% - 20px);
  }
  #ui-layer #search-bar-expanded .expanded-section#saved-locations .expanded-locations li .favourite-delete {
    margin-top: 5px;
    width: 12px;
  }
  #ui-layer #right-pin,
  #ui-layer #left-pin {
    bottom: 80px;
    padding: 15px;
    width: 50px;
    height: 50px;
  }
  #ui-layer #right-pin {
    right: 8px;
  }
  #ui-layer #left-pin {
    left: 8px;
  }
  #ui-layer #outer-left-button,
  #ui-layer #outer-right-button {
    padding: 0px 15px 15px;
  }
  #ui-layer .inner-button {
    width: 65px;
    height: 65px;
  }
  #ui-layer .inner-button img {
    width: 30px;
    height: 30px;
    margin-left: -15px;
    margin-top: -15px;
  }
  /* MAP SELECT LAYER STYLES */
  #map-select-layer #menu-header {
    padding-bottom: 15px;
  }
  #map-select-layer #menu-header #menu-icon {
    width: 19px;
    height: 19px;
    top: 20px;
    padding: 15px;
  }
  #map-select-layer #menu-header #menu-title {
    padding-top: 31px;
    font-size: 18px;
  }
  #map-select-layer #menu-options {
    max-height: calc(100% - 70px - 20px);
    padding: 10px 0px;
  }
  #map-select-layer #menu-options .dataset-type-label {
    font-size: 16px;
    margin: 0px 15px 5px;
  }
  #map-select-layer #menu-options ul {
    margin: 0px 10px 15px;
  }
  #map-select-layer #menu-options ul#datasets-recreation {
    margin-bottom: 0;
  }
  #map-select-layer #menu-options ul li {
    padding: 15px;
  }
  #map-select-layer #menu-options ul li .dataset-title {
    font-size: 18px;
    width: calc(100% - 60px);
  }
  #map-select-layer #menu-options ul li .dataset-description {
    font-size: 15px;
  }
  #map-select-layer #menu-options ul li .dataset-info {
    width: 20px;
    height: 20px;
    padding: 15px;
    margin-top: -13px;
    margin-right: -15px;
    margin-bottom: -15px;
  }
  #map-select-layer #menu-options ul li.topic-selected {
    background-size: 20px 16px;
    background-position: right 50px top 20px;
  }
  #map-select-layer #menu-options ul li.topic-selected .dataset-title {
    width: calc(100% - 75px);
  }
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #map-layer .leaflet-top.leaflet-right {
    top: 100px !important;
  }
  /* USER PROMPT STYLES */
  .user-prompt#select-map-prompt-right {
    right: 118px;
    bottom: 35px;
  }
  .user-prompt#select-map-prompt-left {
    left: 118px;
    bottom: 35px;
  }
  .user-prompt#slide-prompt {
    left: 95px;
    margin-top: -20px;
  }
  .user-prompt#pin-map-prompt-right,
  .user-prompt#pin-map-prompt-left {
    bottom: 198px;
  }
  .user-prompt#pin-map-prompt-right {
    right: 20px;
  }
  .user-prompt#pin-map-prompt-right .prompt-arrow {
    right: 25px;
  }
  .user-prompt#pin-map-prompt-left {
    left: 20px;
  }
  .user-prompt#pin-map-prompt-left .prompt-arrow {
    left: 25px;
  }
  .dataset-label#dataset-label-right {
    right: 116px;
    bottom: 38px;
  }
  .dataset-label#dataset-label-left {
    left: 116px;
    bottom: 38px;
  }
  #ui-layer {
    /* SEARCH BAR STYLES */
  
    /* BUTTON STYLES */
  
  }
  #ui-layer #search-bar {
    margin-top: 30px;
  }
  #ui-layer #search-bar #search-icon {
    padding: 15px 22px;
  }
  #ui-layer #search-bar #search-icon img {
    width: 26px;
    margin-top: 6px;
    margin-left: -4px;
  }
  #ui-layer #search-bar input {
    font-size: 26px;
    width: calc(100% - 200px);
    padding: 15px 22px;
    margin-left: 40px;
  }
  #ui-layer #search-bar #search-bar-options li {
    padding: 15px 8px;
  }
  #ui-layer #search-bar #search-bar-options li img {
    width: 30px;
    margin-top: 3px;
  }
  #ui-layer #search-bar #search-bar-options #search-bar-favourite {
    padding-right: 15px;
  }
  #ui-layer #search-bar-expanded {
    margin: 0 15px;
    top: 96px;
  }
  #ui-layer #search-bar-expanded .expanded-section .expanded-title {
    font-size: 26px;
    padding: 15px 22px;
  }
  #ui-layer #search-bar-expanded .expanded-section .expanded-title #loading-icon {
    height: 24px;
    width: 24px;
  }
  #ui-layer #search-bar-expanded .expanded-section .expanded-locations {
    font-size: 26px;
  }
  #ui-layer #search-bar-expanded .expanded-section .expanded-locations li {
    padding: 15px 22px;
  }
  #ui-layer #right-pin,
  #ui-layer #left-pin {
    bottom: 95px;
    padding: 20px;
    width: 60px;
    height: 60px;
  }
  #ui-layer #right-pin {
    right: 8px;
  }
  #ui-layer #left-pin {
    left: 8px;
  }
  #ui-layer #outer-left-button,
  #ui-layer #outer-right-button {
    padding: 0px 20px 20px;
  }
  #ui-layer .inner-button {
    width: 75px;
    height: 75px;
  }
  #ui-layer .inner-button img {
    width: 34px;
    height: 34px;
    margin-left: -17px;
    margin-top: -17px;
  }
  /* MAP SELECT LAYER STYLES */
  #map-select-layer #menu-header #menu-icon {
    width: 27px;
    height: 27px;
    top: 27px;
    padding: 22px;
  }
  #map-select-layer #menu-header #menu-title {
    padding-top: 47px;
    font-size: 26px;
  }
  #map-select-layer #menu-options {
    max-height: calc(100% - 103px - 24px);
    padding: 12px 0px;
  }
  #map-select-layer #menu-options .dataset-type-label {
    font-size: 22px;
  }
  #map-select-layer #menu-options ul {
    margin: 0px 12px 15px;
  }
  #map-select-layer #menu-options ul#datasets-recreation {
    margin-bottom: 0;
  }
  #map-select-layer #menu-options ul li {
    padding: 22px;
  }
  #map-select-layer #menu-options ul li .dataset-title {
    font-size: 26px;
  }
  #map-select-layer #menu-options ul li .dataset-description {
    font-size: 18px;
  }
  #map-select-layer #menu-options ul li.topic-selected {
    background-position: right 70px top 29px;
  }
}
/* iPads (landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
}
/* iPads (portrait) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  
}
