/* COPYRIGHT INFO HERE */
/* COPYRIGHT INFO HERE */
/* GENERAL STYLES */
* {
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-content-zooming: none;
  -ms-touch-action: none;
  backface-visibility: hidden;
}
#ui-layer,
#map-layer,
#map-select-layer {
  width: 100%;
  height: 100%;
  position: absolute;
}
/* LEAFLET OVERRIDES */
#map-layer .leaflet-top.leaflet-right {
  top: 145px !important;
  right: 5px !important;
  z-index: 50 !important;
}
#map-layer .leaflet-control-scale-line {
  background: transparent !important;
}
#dev-reset {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 40px;
  height: 40px;
}
.clearfix {
  clear: both;
}
/* USER PROMPT STYLES */
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
.pulse {
  -webkit-animation: pulse 1s linear infinite;
  animation: pulse 1s linear infinite;
}
.user-prompt {
  position: absolute;
  font-family: "Open Sans", sans-serif;
  z-index: 104;
  font-size: 20px;
  font-weight: 400;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  display: none;
  background: #fff;
  padding: 10px 15px;
}
.user-prompt .prompt-arrow {
  position: absolute;
}
.user-prompt .prompt-arrow.arrow-left {
  left: -15px;
  top: 9px;
}
.user-prompt .prompt-arrow.arrow-right {
  right: -15px;
  top: 9px;
}
.user-prompt .prompt-arrow.arrow-bottom-right {
  bottom: -15px;
  right: 35px;
}
.user-prompt .prompt-arrow.arrow-bottom-left {
  bottom: -15px;
  left: 35px;
}
.user-prompt#select-map-prompt-right {
  right: 150px;
  bottom: 50px;
}
.user-prompt#slide-prompt {
  top: 50%;
  left: 95px;
  margin-top: -25px;
}
.user-prompt#select-map-prompt-left {
  left: 152px;
  bottom: 50px;
}
.user-prompt#pin-map-prompt-right,
.user-prompt#pin-map-prompt-left {
  max-width: 200px;
  bottom: 242px;
}
.user-prompt#pin-map-prompt-right {
  right: 25px;
}
.user-prompt#pin-map-prompt-left {
  left: 25px;
}
.dataset-label {
  position: absolute;
  color: #828282;
  font-family: "Open Sans", sans-serif;
  z-index: 76;
  font-weight: 400;
  box-shadow: 0px 0px 20px #000000, 0px 0px 5px rgba(0, 0, 0, 0.3);
  display: none;
  background-color: #fff;
  padding: 7px 10px;
  font-size: 15px;
  opacity: 0.8;
}
.dataset-label#dataset-label-right {
  right: 150px;
  bottom: 55px;
}
.dataset-label#dataset-label-right .prompt-arrow {
  position: absolute;
  margin-top: -4px;
  margin-left: 10px;
}
.dataset-label#dataset-label-left {
  left: 150px;
  bottom: 55px;
}
.dataset-label#dataset-label-left .prompt-arrow {
  position: absolute;
  margin-top: -4px;
  left: -14px;
}
/* SLIDER LAYER STYLES */
#slider-bar {
  z-index: 75;
  width: 50px;
  left: -25px;
  position: fixed;
  height: 100%;
  display: none;
  background-image: url('../img/slider/slider-middle.png'), url('../img/slider/slider-bar.png');
  background-repeat: no-repeat, repeat-y;
  background-position: center, center;
  background-size: contain;
}
#slider-bar #drag-right,
#slider-bar #drag-left {
  position: absolute;
  top: 50%;
  width: 54px;
  height: 54px;
  margin-top: -27px;
  display: none;
}
#slider-bar #drag-left {
  margin-left: -50px;
}
#slider-bar #drag-right {
  margin-left: 50px;
}
/* MAP SELECT LAYER STYLES */
#map-select-layer {
  z-index: 200;
  background-color: #eee;
  height: 100%;
  bottom: -100%;
  -webkit-transform: translatez(0);
  transition: all .75s ease;
}
#map-select-layer.menu-expanded {
  bottom: 0px;
}
#map-select-layer #menu-header {
  width: 100%;
  background-color: #64b551;
  padding-bottom: 20px;
  box-sizing: border-box;
}
#map-select-layer #menu-header #menu-icon {
  position: absolute;
  width: 37px;
  height: 38px;
  top: 40px;
  left: 0px;
  padding: 30px;
}
#map-select-layer #menu-header #menu-title {
  padding-top: 63px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 35px;
  color: #fff;
}
#map-select-layer #menu-options {
  max-height: calc(100% - 130px - 30px);
  overflow-y: auto;
  padding: 15px 0px;
  /*-webkit-overflow-scrolling:touch;*/

}
#map-select-layer #menu-options .dataset-type-label {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 25px;
  margin: 0px 25px 5px;
}
#map-select-layer #menu-options ul {
  margin: 0px 15px 20px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  list-style-type: none;
}
#map-select-layer #menu-options ul#datasets-recreation {
  margin-bottom: 0;
}
#map-select-layer #menu-options ul li {
  padding: 30px;
  border-bottom: 1px solid #ddd;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}
#map-select-layer #menu-options ul li .dataset-title {
  font-weight: 300;
  font-size: 30px;
  color: #000;
  float: left;
  width: calc(100% - 90px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#map-select-layer #menu-options ul li .dataset-info {
  width: 32px;
  height: 32px;
  padding: 30px;
  margin-right: -30px;
  margin-top: -26px;
  margin-bottom: -30px;
  float: right;
  opacity: .5;
}
#map-select-layer #menu-options ul li .dataset-description {
  color: #666;
  margin-top: 10px;
  font-weight: 300;
  font-size: 20px;
  display: none;
}
#map-select-layer #menu-options ul li .dataset-description a {
  color: #666;
  text-decoration: none;
  font-weight: 500;
  border-bottom: 2px solid #666;
}
#map-select-layer #menu-options ul li.topic-selected {
  background: url('../img/tick-icon.png') no-repeat;
  background-position: right 80px top 37px;
  background-size: 32px 26px;
}
#map-select-layer #menu-options ul li.topic-selected .dataset-title {
  width: calc(100% - 100px);
}
/* UI LAYER STYLES */
#ui-layer {
  /* SEARCH BAR STYLES */

  /* BUTTON STYLES */

}
#ui-layer #search-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #eee;
  z-index: 105;
  display: none;
}
#ui-layer #search-bar,
#ui-layer #search-bar-expanded {
  position: absolute;
  width: calc(100% - 30px);
  box-sizing: border-box;
}
#ui-layer #search-bar {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  margin: 50px 15px 0px;
  z-index: 110;
  background: #fff;
}
#ui-layer #search-bar #search-icon {
  position: absolute;
  padding: 20px 30px;
}
#ui-layer #search-bar #search-icon img {
  vertical-align: top;
  margin-top: 6px;
  margin-left: -5px;
}
#ui-layer #search-bar input {
  float: left;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 35px;
  width: calc(100% - 250px);
  border: none;
  background: none;
  margin-left: 50px;
  outline: none;
  padding: 20px 30px;
  box-sizing: border-box;
  text-overflow: ellipsis;
}
#ui-layer #search-bar #search-bar-options {
  list-style-type: none;
  float: right;
}
#ui-layer #search-bar #search-bar-options li {
  padding: 20px 10px;
  display: inline-block;
}
#ui-layer #search-bar #search-bar-options li img {
  margin-top: 4px;
  vertical-align: top;
}
#ui-layer #search-bar #search-bar-options #search-bar-favourite {
  padding-right: 20px;
}
#ui-layer #search-bar #search-bar-options #search-bar-favourite:not(.favourite-toggled) #favourite-enabled {
  display: none;
}
#ui-layer #search-bar #search-bar-options #search-bar-favourite:not(.favourite-toggled) #favourite-disabled {
  display: inline-block;
}
#ui-layer #search-bar #search-bar-options #search-bar-favourite.favourite-toggled #favourite-enabled {
  display: inline-block;
}
#ui-layer #search-bar #search-bar-options #search-bar-favourite.favourite-toggled #favourite-disabled {
  display: none;
}
#ui-layer #search-bar #search-bar-options #search-bar-empty {
  display: none;
}
#ui-layer #search-bar-expanded {
  z-index: 109;
  display: none;
  margin: 0 15px;
  color: #333;
  top: 136px;
  font-family: "Open Sans", sans-serif;
}
#ui-layer #search-bar-expanded .expanded-section {
  background: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
}
#ui-layer #search-bar-expanded .expanded-section .expanded-title {
  font-weight: 300;
  font-size: 30px;
  padding: 20px 30px;
}
#ui-layer #search-bar-expanded .expanded-section .expanded-title #loading-icon {
  height: 28px;
  width: 28px;
  margin-right: 15px;
  margin-top: 3px;
  margin-bottom: -3px;
  display: inline-block;
}
#ui-layer #search-bar-expanded .expanded-section .expanded-locations {
  list-style-type: none;
  font-weight: 400;
  font-size: 30px;
}
#ui-layer #search-bar-expanded .expanded-section .expanded-locations li {
  width: 100%;
  padding: 20px 30px;
  cursor: pointer;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
}
#ui-layer #search-bar-expanded .expanded-section#search-results .expanded-locations li,
#ui-layer #search-bar-expanded .expanded-section#saved-locations .expanded-locations li div {
  text-overflow: ellipsis;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
}
#ui-layer #search-bar-expanded .expanded-section#search-results {
  margin-top: 0px;
  display: none;
}
#ui-layer #search-bar-expanded .expanded-section#saved-locations .expanded-locations li {
  overflow: hidden;
}
#ui-layer #search-bar-expanded .expanded-section#saved-locations .expanded-locations li div {
  float: left;
  width: calc(100% - 30px);
}
#ui-layer #search-bar-expanded .expanded-section#saved-locations .expanded-locations li .favourite-delete {
  float: right;
  margin-top: 10px;
  vertical-align: top;
  z-index: 110;
}
#ui-layer #right-pin,
#ui-layer #left-pin {
  position: absolute;
  z-index: 100;
  bottom: 125px;
  padding: 25px;
  width: 70px;
  height: 70px;
  display: none;
}
#ui-layer #right-pin {
  right: 15px;
}
#ui-layer #left-pin {
  left: 15px;
}
#ui-layer #outer-right-button,
#ui-layer #outer-left-button {
  position: absolute;
  z-index: 100;
  bottom: 0;
  padding: 0px 25px 25px;
}
#ui-layer #outer-right-button:not(.button-loading) .inner-button .dataset-loading,
#ui-layer #outer-left-button:not(.button-loading) .inner-button .dataset-loading {
  display: none;
}
#ui-layer #outer-right-button:not(.button-loading) .inner-button .dataset-loaded,
#ui-layer #outer-left-button:not(.button-loading) .inner-button .dataset-loaded {
  display: block;
}
#ui-layer #outer-right-button.button-loading .inner-button .dataset-loading,
#ui-layer #outer-left-button.button-loading .inner-button .dataset-loading {
  display: block;
}
#ui-layer #outer-right-button.button-loading .inner-button .dataset-loaded,
#ui-layer #outer-left-button.button-loading .inner-button .dataset-loaded {
  display: none;
}
#ui-layer .inner-button {
  width: 100px;
  height: 100px;
  background-color: #64b551;
  border-radius: 50%;
  position: relative;
}
#ui-layer .inner-button img {
  position: absolute;
  width: 46px;
  height: 46px;
  top: 50%;
  left: 50%;
  margin-top: -23px;
  margin-left: -23px;
}
#ui-layer #outer-left-button {
  left: 0px;
}
#ui-layer #outer-right-button {
  right: 0px;
}
/* TUTORIAL LAYER STYLES */
#tutorial-layer {
  width: 100%;
  height: 100%;
  background: #fff;
  font-family: "Open Sans", sans-serif;
  z-index: 10000;
}
#tutorial-layer #tutorial-layer-inner {
  text-align: center;
  height: 568px;
  width: 320px;
  box-sizing: border-box;
  padding: 60px 30px 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -160px;
  margin-top: -284px;
}
#tutorial-layer #tutorial-img-div {
  height: 230px;
}
#tutorial-layer #tutorial-img-div img {
  height: 100%;
}
#tutorial-layer #tutorial-description {
  font-weight: 300;
  font-size: 20px;
  margin: 30px auto 25px;
  height: 80px;
  display: table;
}
#tutorial-layer #tutorial-description div {
  display: table-cell;
  vertical-align: middle;
}
#tutorial-layer #tutorial-description.no-button {
  margin-bottom: 102px;
}
#tutorial-layer #tutorial-button {
  background: #64b551;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  font-size: 20px;
  margin-bottom: 35px;
  display: none;
}
#tutorial-layer #tutorial-button img {
  vertical-align: top;
  width: 18px;
  margin-top: 4px;
  margin-left: 10px;
}
#tutorial-layer #tutorial-state {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#tutorial-layer #tutorial-state li {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-size: contain;
  background-repeat: no-repeat;
}
#tutorial-layer #tutorial-state li.tutorial-state-empty {
  background-image: url('../img/tutorial/bubble-empty.png');
}
#tutorial-layer #tutorial-state li.tutorial-state-full {
  background-image: url('../img/tutorial/bubble-full.png');
}
