<div id="project-left" style="background-color: {{ projects[currentProject.name].background }}; color: {{ projects[currentProject.name].color }}">
  <div id="project-title">{{ currentProject.name }}</div>
  <div id="project-description">{{ projects[currentProject.name].description }}</div>
  <div custom-hover-colours class="button" data-color="{{ projects[currentProject.name].color }}" data-background="{{ projects[currentProject.name].background }}">VIEW DEMO</div>
</div>
<div id="project-right">
  <img id="close-icon" src="/assets/images/icons/close.png" ng-click="currentProject.isOpen = !currentProject.isOpen">
  <img id="project-graphic" src="{{ projects[currentProject.name].graphic }}">
</div>
