<div id="project-left">
  <div id="project-title">Language Pear</div>
  <div id="project-description">A cross-platform language practice platform.<br><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec leo venenatis elit semper dapibus ut a enim. Proin quam felis, pulvinar ornare interdum vel, laoreet et elit. Pellentesque turpis sem, egestas ac interdum non, posuere quis nibh. Pellentesque ultrices, odio id dignissim vulputate, erat neque pulvinar sem, ut cursus justo libero quis nisi.
  </div>
  <div class="button">VIEW DEMO</div>
</div>
<div id="project-right">
  <img id="close-icon" src="/assets/images/icons/close.png" ng-click="currentProject.isOpen = !currentProject.isOpen">
</div>
