<div id="header" class="big-header" boids-canvas>
  <div id="navigation">
    <div id="social-networks">
      <!-- target=_blank opens in new tab -->
      <a href="https://www.linkedin.com/in/mikescottchristensen" target="_blank">
        <img src="/assets/images/linkedin.png">
      </a>
      <a href="https://github.com/MikeC1995" target="_blank">
        <img src="/assets/images/github.png">
      </a>
    </div>
    <ul id="nav-links">
      <li ng-repeat="(item, link) in navItems"><a scroll-to="{{ link }}" href="{{ link }}">{{ item }}</a></li>
    </ul>
    <img id="nav-menu" src="/assets/images/icons/menu.png">
  </div>

  <div id="strapline">
    <div id="strapline-content">
      <div id="strap-top">Mike Christensen</div>
      <div id="strap-centre">FULL STACK DEVELOPER</div>
    </div>
  </div>
</div>
