<div id="header" class="bigHeader" boids-canvas>
  <div id="navigation">
    <div id="social-networks">
      <img src="/assets/images/linkedin.png">
      <img src="/assets/images/github.png">
    </div>
    <ul id="nav-links" class="clear">
      <li><a>SKILLS</a></li>
      <li><a>PROJECTS</a></li>
      <li><a>CONTACT</a></li>
      <li><a>CV</a></li>
    </ul>
  </div>

  <div id="strapline">
    <div id="strapline-content">
      <div id="strap-top">Mike Christensen</div>
      <div id="strap-centre">FULL STACK DEVELOPER</div>
    </div>
  </div>

</div>
