<div id="header" class="bigHeader" boids-canvas>
  <div id="navigation">
    <div id="social-networks">
      <img src="/assets/images/linkedin.png">
      <img src="/assets/images/github.png">
    </div>
    <ul id="nav-links">
      <li ng-repeat="(item, link) in navItems"><a href="{{ link }}">{{ item }}</a></li>
    </ul>
  </div>

  <div id="strapline">
    <div id="strapline-content">
      <div id="strap-top">Mike Christensen</div>
      <div id="strap-centre">FULL STACK DEVELOPER</div>
    </div>
  </div>

</div>
