/* Colours */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/Roboto-Light.woff') format('woff'), url('/assets/fonts/Roboto-Light.ttf') format('ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/Roboto-Regular.woff') format('woff'), url('/assets/fonts/Roboto-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/Roboto-Bold.woff') format('woff'), url('/assets/fonts/Roboto-Bold.ttf') format('ttf');
}
/* General styles */
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
/* Content styles */
#content {
  width: 100%;
  height: 100%;
}
.title {
  font-weight: 700;
  font-size: 80px;
}
.subtitle {
  font-size: 20px;
}
/* Section styles */
.section {
  width: 100%;
  padding: 40px 0 40px 0;
}
.section-title {
  font-size: 25px;
  font-weight: 200;
  text-align: center;
  letter-spacing: 1px;
}
#mainSection {
  background-color: #eeeeee;
}
#header {
  width: 100%;
  color: #eeeeee;
  background-color: #34495e;
}
#header.bigHeader {
  height: 800px;
}
#header:not(.bigHeader) {
  height: 90px;
}
#header #navigation {
  position: absolute;
  width: 100%;
  padding: 20px 50px;
  box-sizing: border-box;
  z-index: 1001;
}
#header #social-networks {
  float: left;
  margin-top: 5px;
}
#header #social-networks img {
  height: 25px;
  padding-right: 40px;
}
#header #nav-links {
  float: right;
  list-style-type: none;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
}
#header #nav-links li {
  display: inline-block;
  margin-left: 20px;
}
#header #nav-links li a {
  padding: 10px;
  color: #fff;
}
#header #strapline {
  pointer-events: none;
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  z-index: 1000;
}
#header #strapline:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#header #strapline-content {
  display: inline-block;
  vertical-align: middle;
  width: 80%;
}
#header #strap-top {
  font-size: 60px;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 10px;
}
#header #strap-centre {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 10px;
  line-height: 38px;
}
