/* Colours */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/Roboto-Light.woff') format('woff'), url('/assets/fonts/Roboto-Light.ttf') format('ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/Roboto-Regular.woff') format('woff'), url('/assets/fonts/Roboto-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/Roboto-Bold.woff') format('woff'), url('/assets/fonts/Roboto-Bold.ttf') format('ttf');
}
@keyframes nav_fadein {
  from {
    background-color: none;
  }
  to {
    background-color: #34495e;
  }
}
@keyframes show_project {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
@keyframes show_project_left {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes show_project_right {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
/* General styles */
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
/* Content styles */
#content {
  width: 100%;
  height: 100%;
}
.title {
  font-weight: 700;
  font-size: 80px;
}
.subtitle {
  font-size: 20px;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.shadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
/* Section styles */
.section {
  width: 100%;
}
.section-title {
  font-size: 30px;
  font-weight: 200;
  text-align: center;
  letter-spacing: 1px;
  padding: 60px 0 20px 0;
}
.section-text {
  font-size: 18px;
  font-weight: 200;
  text-align: center;
  letter-spacing: 1px;
  padding: 20px 0;
}
#skills-section {
  background-color: #eeeeee;
}
#skills-section .iconList {
  text-align: center;
  padding: 40px 0;
}
#skills-section .iconList .skill {
  display: inline-block;
  width: 100px;
  height: auto;
  padding: 0 30px;
}
#skills-section .iconList .skill img {
  padding-bottom: 10px;
}
#skills-section .iconList .skill span {
  font-weight: 200;
  font-size: 16px;
}
#projects-section {
  background-color: #dddddd;
  padding: 0;
}
#contact-section {
  background-color: #eeeeee;
  padding-bottom: 40px;
}
#contact-section .section-title {
  font-weight: 400;
}
#contact-section input,
#contact-section textarea {
  display: block;
  width: 40%;
  font-family: inherit;
  font-size: 18px;
  font-weight: 200;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
#contact-section input:not([type="submit"]),
#contact-section textarea {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
}
#contact-section input[type="submit"] {
  text-transform: uppercase;
  background-color: inherit;
  border: 2px solid #34495e;
  color: #34495e;
  font-size: 22px;
  letter-spacing: 2px;
}
#contact-section input[type="submit"]:hover {
  background-color: #34495e;
  color: #fff;
  cursor: hand;
  cursor: pointer;
}
#contact-section textarea {
  resize: vertical;
  margin-bottom: 30px;
}
#thanks-message {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 230px;
  background-color: #fff;
  z-index: 1002;
}
#thanks-message a img {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 15px;
  height: auto;
  cursor: pointer;
  cursor: hand;
}
@media screen and (max-width: 900px) {
  .section-title {
    padding-left: 10px;
    padding-right: 10px;
  }
  #contact-section {
    background-color: #eeeeee;
    padding-bottom: 40px;
  }
  #contact-section .section-title {
    font-weight: 400;
  }
  #contact-section input,
  #contact-section textarea {
    display: block;
    width: 80%;
  }
  #contact-section input[type="submit"] {
    font-size: 16px;
  }
  #thanks-message {
    height: 150px;
  }
  #thanks-message .section-title {
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
  }
  #thanks-message .section-text {
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 350px) {
  #contact-section {
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
  }
  #contact-section .section-title {
    font-size: 18px;
  }
  #contact-section .section-text {
    font-size: 15px;
  }
  #contact-section input[type="submit"] {
    font-size: 14px;
  }
}
#header {
  width: 100%;
  height: 600px;
  color: #eeeeee;
  background-color: #34495e;
}
#header #navigation {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 50px;
  box-sizing: border-box;
  z-index: 1001;
}
#header #navigation #nav-menu {
  display: none;
}
#header #social-networks {
  float: left;
  margin-top: 5px;
}
#header #social-networks img {
  height: 25px;
  padding-right: 40px;
}
#header #nav-links {
  float: right;
  list-style-type: none;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
}
#header #nav-links li {
  display: inline-block;
  margin-left: 20px;
}
#header #nav-links li a {
  padding: 10px;
  color: #fff;
}
#header.big-header #strapline {
  pointer-events: none;
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  z-index: 1000;
}
#header.big-header #strapline:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#header.big-header #strapline-content {
  display: inline-block;
  vertical-align: middle;
  width: 80%;
}
#header.big-header #strap-top {
  font-size: 60px;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 10px;
}
#header.big-header #strap-centre {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 10px;
  line-height: 38px;
}
#header:not(.big-header) #strapline-content {
  display: none;
}
#header:not(.big-header) #navigation {
  animation: nav_fadein 0.3s forwards ease-out;
  -webkit-animation: nav_fadein 0.3s forwards ease-out;
}
#header:not(.big-header) canvas {
  display: none;
}
@media screen and (max-width: 700px) {
  #header {
    height: 50px;
  }
  #header canvas {
    display: none;
  }
  #header.big-header {
    height: 200px;
  }
  #header:not(.big-header) #navigation {
    height: 50px;
  }
  #header #navigation {
    padding: 0;
  }
  #header #navigation #social-networks {
    display: none;
  }
  #header #navigation #nav-links {
    position: relative;
    z-index: 1001;
    font-size: 18px;
    background-color: #34495e;
    padding-left: 0;
    padding-right: 20px;
    margin: 0;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.19), 0 10px 6px -6px rgba(0, 0, 0, 0.23);
  }
  #header #navigation #nav-links:not(.nav-open) {
    display: none;
  }
  #header #navigation #nav-links li {
    display: block;
    padding: 20px 0;
    margin-left: 10px;
  }
  #header #navigation #nav-menu {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 25px;
    height: auto;
    z-index: 1002;
  }
  #header #strapline #strapline-content #strap-top {
    font-size: 40px;
  }
  #header #strapline #strapline-content #strap-centre {
    font-size: 15px;
  }
}
#project-selection {
  width: 100%;
}
#project-selection .projectList {
  text-align: center;
  padding: 40px 0;
}
#project-selection .projectList .project {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  margin: 10px 60px;
}
#project-selection .projectList .project .description-overlay {
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  opacity: 0;
}
#project-selection .projectList .project .description-overlay:hover {
  opacity: 0.8;
  cursor: hand;
  cursor: pointer;
}
#project-selection .projectList .project .description-overlay span {
  display: table-cell;
  vertical-align: middle;
  font-size: 18px;
  font-weight: 300;
}
#project-selection .projectList .project img {
  height: 100%;
  width: auto;
}
#project-detail {
  animation: show_project 0.3s ease-out forwards;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1003;
}
#project-detail #project-left {
  position: relative;
  float: left;
  height: 100%;
  width: 40%;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  padding: 0 40px;
  overflow-y: hidden;
}
#project-detail #project-left #project-title {
  transform: translateX(-150%);
  animation: show_project_left 1s cubic-bezier(0.13, 0.42, 0.13, 0.92) 0.3s forwards;
  font-size: 50px;
  font-weight: 600;
  padding: 50px 0 20px 0;
}
#project-detail #project-left #project-meta {
  transform: translateX(-150%);
  animation: show_project_left 1s cubic-bezier(0.13, 0.42, 0.13, 0.92) 0.4s forwards;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 200;
}
#project-detail #project-left #project-description {
  transform: translateX(-150%);
  animation: show_project_left 1s cubic-bezier(0.13, 0.42, 0.13, 0.92) 0.5s forwards;
  padding-top: 20px;
  font-size: 15px;
  font-weight: 300;
  line-height: 200%;
}
#project-detail #project-left a #demo-button {
  transform: translateX(-150%);
  animation: show_project_left 1s cubic-bezier(0.13, 0.42, 0.13, 0.92) 0.6s forwards;
  height: 50px;
  width: auto;
  line-height: 50px;
  margin-top: 40px;
  padding: 0 15px;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 2px solid #fff;
}
#project-detail #project-left #demo-button:hover {
  cursor: hand;
  cursor: pointer;
}
#project-detail #project-left #close-icon-left {
  display: none;
  position: absolute;
  top: 40px;
  right: 40px;
  width: 30px;
  height: auto;
  cursor: hand;
  cursor: pointer;
  z-index: 1001;
}
#project-detail #project-right {
  position: relative;
  float: right;
  height: 100%;
  width: 60%;
  text-align: center;
  box-sizing: border-box;
  background-color: #dddddd;
}
#project-detail #project-right #close-icon-right {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 30px;
  height: auto;
  cursor: hand;
  cursor: pointer;
  z-index: 1001;
  opacity: 0.6;
}
#project-detail #project-right #project-graphic {
  animation: show_project_right 1s ease-out 0.7s forwards;
  opacity: 0;
  width: 80%;
  height: auto;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@media screen and (max-width: 1200px) {
  #project-detail #project-left {
    width: 50%;
  }
  #project-detail #project-left #project-title {
    font-size: 40px;
  }
  #project-detail #project-left #project-meta {
    font-size: 20px;
  }
  #project-detail #project-left #project-description {
    font-size: 15px;
  }
  #project-detail #project-right {
    width: 50%;
  }
  #project-detail #project-right #close-icon {
    width: 30px;
  }
  #project-detail #project-right #project-graphic {
    width: 90%;
  }
}
@media screen and (max-width: 900px) {
  #project-selection .projectList {
    text-align: center;
    padding: 20px 0;
  }
  #project-selection .projectList .project {
    width: 150px;
    height: 150px;
  }
  #project-selection .projectList .project .description-overlay span {
    font-size: 12px;
  }
  #project-detail #project-left {
    width: 100%;
  }
  #project-detail #project-left #close-icon-left {
    display: block;
  }
  #project-detail #project-right {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  #project-detail #project-left {
    padding-left: 5px;
    padding-right: 5px;
  }
  #project-detail #project-left #project-title {
    padding-top: 20px;
    font-size: 20px;
  }
  #project-detail #project-left #project-meta {
    font-size: 12px;
  }
  #project-detail #project-left #project-description {
    font-size: 12px;
  }
  #project-detail #project-left a #demo-button {
    font-size: 16px;
    margin-top: 10px;
  }
  #project-detail #project-left #close-icon-left {
    width: 15px;
    height: 15px;
    top: 15px;
    right: 15px;
  }
}
