/* Colours */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/Roboto-Light.woff') format('woff'), url('/assets/fonts/Roboto-Light.ttf') format('ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/Roboto-Regular.woff') format('woff'), url('/assets/fonts/Roboto-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/Roboto-Bold.woff') format('woff'), url('/assets/fonts/Roboto-Bold.ttf') format('ttf');
}
/* General styles */
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
/* Content styles */
#content {
  width: 100%;
  height: 100%;
}
.title {
  font-weight: 700;
  font-size: 80px;
}
.subtitle {
  font-size: 20px;
}
/* Section styles */
.section {
  width: 100%;
  padding: 100px 0 100px 0;
}
#mainSection {
  height: 50%;
  background-color: #34495e;
  color: #eeeeee;
  text-align: center;
}
#mainSection .subtitle {
  margin-top: 5px;
  letter-spacing: 10px;
}
#header {
  display: table;
  white-space: nowrap;
  background-color: #34495e;
  color: #eeeeee;
  width: 100%;
  height: 50px;
}
#header div {
  display: table-cell;
  white-space: normal;
  vertical-align: middle;
}
#header #left {
  height: 100%;
  width: 50%;
}
#header #left #networks {
  width: 100%;
  height: 50%;
  padding-left: 20px;
}
#header #left #networks img {
  height: 20px;
  width: auto;
  padding-right: 20px;
}
#header #right {
  height: 100%;
  width: 50%;
}
#header #right #nav-links {
  float: right;
  height: 50%;
  padding-right: 50px;
}
#header #right #nav-links span {
  font-size: 20px;
  height: 50%;
  width: 50%;
  padding-left: 100px;
}
