@media screen and (max-width: 700px) {
  canvas {
    display: none;
  }
  #header {
    height: 200px;
    #navigation {
      position: inherit;
      padding: 0;
      #social-networks {
        display: none;
      }
      #nav-links {
        display: none;
      }
      #nav-menu {
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
        width: 25px;
        height: auto;
      }
    }


    #strapline #strapline-content {

      #strap-top {
        font-size: 40px;
      }
      #strap-centre {
        font-size: 15px;
      }
    }
  }
}
