#header {
  display: table;
  white-space: nowrap;
  background-color: @header;
  color: @text-light;
  width: 100%;
  height: 50px;

  div {
    display: table-cell;
    white-space: normal;
    vertical-align: middle;
  }

  #left {
    height: 100%;
    width: 50%;
    #networks {
      width: 100%;
      height: 50%;
      padding-left: 20px;
      img {
        height: 20px;
        width: auto;
        padding-right: 20px;
      }
    }
  }

  #right {
    height: 100%;
    width: 50%;
    #nav-links {
      float: right;
      height: 50%;
      padding-right: 50px;
      span {
        font-size: 20px;
        height: 50%;
        width: 50%;
        padding-left: 100px;
      }
    }
  }
}
