#project-selection {
  width: 100%;
  .projectList {
    text-align: center;
    padding: 40px 0;
      .project {
        position: relative;
        display: inline-block;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        overflow: hidden;
        margin: 10px 60px;

        .description-overlay {
          position: absolute;
          display: table;
          width: 100%;
          height: 100%;
          background-color: #000;
          color: #fff;
          letter-spacing: 3px;
          text-transform: uppercase;
          text-align: center;

          opacity: 0;
          &:hover {
            opacity: 0.8;
            cursor: hand;
            cursor: pointer;
          }

          span {
            display: table-cell;
            vertical-align: middle;
            font-size: 18px;
            font-weight: 300;
          }
        }

        img {
          height: 100%;
          width: auto;
          //max-width: 100%;
        }
      }
  }
}

#project-detail {
  animation: show_project 0.3s ease-out forwards;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: 1003;

  #project-left {
    position: relative;
    float: left;
    height: 100%;
    width: 40%;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
    padding: 0 40px;
    overflow-y: hidden;

    #project-title {
      transform: translateX(-150%);
      animation: show_project_left 1s cubic-bezier(.13,.42,.13,.92) 0.3s forwards;
      font-size: 50px;
      font-weight: 600;
      padding: 50px 0 20px 0;
    }

    #project-meta {
      transform: translateX(-150%);
      animation: show_project_left 1s cubic-bezier(.13,.42,.13,.92) 0.4s forwards;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 200;
    }

    #project-description {
      transform: translateX(-150%);
      animation: show_project_left 1s cubic-bezier(.13,.42,.13,.92) 0.5s forwards;
      padding-top: 20px;
      font-size: 15px;
      font-weight: 300;
      line-height: 200%;
    }

    a {
      #demo-button {
        transform: translateX(-150%);
        animation: show_project_left 1s cubic-bezier(.13,.42,.13,.92) 0.6s forwards;
        height: 50px;
        width: auto;
        line-height: 50px;
        margin-top: 40px;
        padding: 0 15px;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 2px;
        text-transform: uppercase;
        border: 2px solid #fff;
      }
    }

    #demo-button:hover {
      cursor: hand;
      cursor: pointer;
    }

    #close-icon-left {
      display: none;
      position: absolute;
      top: 40px;
      right: 40px;
      width: 30px;
      height: auto;
      cursor: hand;
      cursor: pointer;
      z-index: 1001;
    }
  }

  #project-right {
    position: relative;
    float:right;
    height: 100%;
    width: 60%;
    text-align: center;

    box-sizing: border-box;
    background-color: @section-dark;

    #close-icon-right {
      position: absolute;
      top: 40px;
      right: 40px;
      width: 30px;
      height: auto;
      cursor: hand;
      cursor: pointer;
      z-index: 1001;
      opacity: 0.6;
    }

    #project-graphic {
      animation: show_project_right 1s ease-out 0.7s forwards;
      opacity: 0;
      width: 80%;
      height: auto;
      position: absolute;
      margin: auto;
      top: 0; left: 0; right: 0; bottom: 0;
    }
  }
}
