/* Section styles */

.section {
  width: 100%;
  padding: 40px 0 40px 0;
}

.section-title {
  font-size: 25px;
  font-weight: 200;
  text-align: center;
  letter-spacing: 1px;
}


#mainSection {
  background-color: @section-light;
}
