/* Section styles */

.section {
  width: 100%;
  padding: 100px 0 100px 0;
}

#mainSection {
  height: 50%;
  background-color: @header;
  color: @text-light;
  text-align: center;
  .subtitle {
    margin-top: 5px;
    letter-spacing: 10px;
  }
}
