/* Section styles */

.section {
  width: 100%;
  height: 100%;
  padding: 100px 100px 0 0;
}

#mainSection {
  text-align: center;
  .title {

  }
}

.title {
  font-size: 50px;
}

.subtitle {
  font-size: 20px;
}
