<div class="section-title">I have experience with...</div>
<div id="languages" class="iconList">
  <div class="skill" ng-repeat="(item, link) in skillsItems.languages" >
    <img src="{{link}}">
    <span>{{item}}</span>
  </div>
</div>

<div id="web" class="iconList">
  <div class="skill" ng-repeat="(item, link) in skillsItems.web" >
    <img src="{{link}}">
    <span>{{item}}</span>
  </div>
</div>

<div id="tools" class="iconList">
  <div class="skill" ng-repeat="(item, link) in skillsItems.tools" >
    <img src="{{link}}">
    <span>{{item}}</span>
  </div>
</div>
