<div class="section-title">Think I can help you?</div>
<div class="section-text">
  I’m currently accepting select freelance work, from small graphic design projects to full-blown websites.<br><br>
  Get in touch to find out what I can offer you!
</div>
<form action="//formspree.io/mike_christensen@btinternet.com" method="POST">
    <input required type="text"  name="name" placeholder="Your name">
    <input required type="email" name="_replyto" placeholder="Your email">
    <textarea required name="message" placeholder="Your message"></textarea>
    <input type="submit" value="Start a conversation">
    <input type="text" name="_gotcha" style="display:none" />
    <input type="hidden" name="_next" value="#thanks" />
</form>
